.container{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.currentUrlWrapper{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5vw;
    top: 2vh;
    width: calc(90vw - 52px);
    height: 48px;
}

.currentUrl{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    padding-left: 8px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 1px 1px 1vw rgba(0, 0, 0, 1);
}

.toggleShare{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    right: 5vw;
    top: 2vh;
}

.shares{
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    right: 5vw;
    top: calc(2vh + 58px);
    pointer-events: none;
}

.share{
    visibility: hidden;
}

.drop{
    visibility: visible;
    pointer-events: all;
}

.shareWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 42px;
    height: 42px;

    border-radius: 32px;
    background-color: #EEE;
    box-shadow: 1px 1px 2vw 2px rgba(0, 0, 0, 0.5);
}

.searchBarWrapper{
    position: fixed;
    top: calc(4vh + 48px);
    left: 0px;
    width: 100vw;
    height: 54px;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.9;
}

.searchBar{
    width: 90vw;
    height: 56px;
    margin: 0px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 1px 1px 2vw 2px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchInput{
    width: calc(92% - 84px);
    height: 54px;
    padding: 0px 10px;
    background: none;
    opacity: 0.86;

    font-size: x-large;
    outline: none;
    border: none;
}

.searchButton{
    opacity: 0.86;
}

.searchButtonWrapper{
    width: 54px;
    height: 54px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.86;
}

.room{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: black;
    /* background-image: url('/images/brickWall.png'); */
    overflow: hidden;
}

.content{
    position: absolute;
    padding: 5px;
    
    text-align: center;
    vertical-align: middle;
    background-color: 1px solid #EEE;
    outline: none;
    border: none;
    resize: none;

    font-size: 32px;
    text-wrap: nowrap;
    pointer-events: none;
    box-shadow: 2px 2px 1vw 2px rgba(0, 0, 0, 0.25);

    /* max-width: 100vw; */
    max-height: 30vh;
    overflow: hidden;
}

.shadow{
    pointer-events: none;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.frontground{
    position: absolute;
    z-index: 101;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    pointer-events: none;
}


